<!DOCTYPE html>

<html>

<head>

    <title>Create Post</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    {% include 'navbar.html' %}

    <div class="container">

        <form action="{{ url_for('create_post') }}" method="post" enctype="multipart/form-data">

            <input class="post-input-box" placeholder="Enter you text here" name="post" type="text" required>

            <a>Upload a photo: </a> <input type="file" name="photo">

            <a>Upload a video: </a> <input type="file" name="video">

            <input type="submit" value="Post">

        </form>

    </div>

</body>

</html>
 