<!DOCTYPE html>

<html>

<head>

    <title>{{ user.username }}'s Profile</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="top-left-box">

        <a href="{{ url_for('index') }}" class="home-btn">Home</a>

    </div>

    <div class="container">

        <div class="profile-box">

            {% if user.profile_picture %}

            <img src="{{ url_for('static', filename=user.profile_picture) }}" alt="Profile Picture" class="profile-picture">

            {% else %}

            <img src="{{ url_for('static', filename='default.png') }}" alt="Default Profile Picture" class="profile-picture">

            {% endif %}

            <h1>{{ user.username }}</h1>

            <div class="container">

                <h3>Email:</h3>

                <p class="email">{{ user.email }}</p>

            </div>

            {% if user.bio %}

            <div class="container">

                <h3>Bio:</h3>

                <p class="bio">{{ user.bio }}</p>

            </div>

            {% endif %}

        </div>

    </div>

</body>

</html>
 